@import 'var.scss';
@import 'emoji.min.css';
@import 'markdown.css';

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('font/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url('font/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url('font/Inter-Bold.otf') format('opentype');
}

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url('font/Inter-BoldItalic.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
}

a {
  cursor: pointer;
  color: $blue_002;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.container {
  height: 100vh;
}

.ec {
  font-size: 24px;
}

.ga {
  height: 0px;
}

.header {
  background-color: $white_004;
  height: 72px;
}

.logo-container {
  margin-top: 32px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;

    .logo-image {
      img {
        border-radius: 90px;
      }
    }

    .logo-name {
      font-size: 24px;
      color: $black_001;
      font-weight: bold;

      .highlight-name {
        color: $blue;
      }
    }
  }
}

.infinity-blog {
  background-color: $white_001;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;

  .blog {
    width: 481px;
    background-color: $white_001;
    margin-bottom: 32px;

    .blog-content {
      padding: 0 24px;

      .content-title {
        color: $blue_002;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 12px;

        &:hover {
          text-decoration: underline;
        }
      }

      .content-text {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
      }

      .content-date {
        color: $white_005;
        font-size: 14px;
        margin-right: 12px;
      }
    }
  }
}

.blog-container {
  padding: 0 440px;
  padding-bottom: 56px;

  h1 {
    padding: 32px 0;

    &:after {
      display: block;
      content: ' ';
      border-bottom: 1px solid $white_006;
      width: 120px;
      margin-top: 10px;
    }
  }

  .blogs-title {
    li a {
      cursor: pointer;
      color: $blue_002;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      margin-bottom: 12px;
    }
  }

  .tags {
    margin-top: 32px;
    font-weight: bold;
  }

  .tag {
    cursor: pointer;
    border: 1px solid $white_006;
    background-color: $white_007;
    border-radius: 8px;
    padding: 8px 8px;
    margin: 0 6px;
    color: $blue_002;

    &:hover {
      text-decoration: underline;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c8c8;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 550px) {
  .infinity-blog {
    .blog {
      width: 312px;
    }
  }

  .blog-container {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 56px !important;
  }
}

@media only screen and (max-width: 1350px) {
  .blog-container {
    padding: 0 100px;
    padding-bottom: 56px;
  }
}
