$blue: #067BBA;
$blue_002: #1c84d9;
$black_001: #17191C;
$black_002: #141518;
$white_001: #FFFFFF;
$white_002: #BCC7E3;
$white_003: #26282C;
$white_004: #f5f6fa;
$white_005: #888;
$white_006: #ccc;
$white_006: #eee;
$white_007: #fafafa;